{{define "partials/head.html"}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
  <meta name="csrf-token" content="{{.CSRFToken}}">
  <link rel="icon" type="image/png" href="{{.BooruFavicon}}">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/static/main.css">
  {{if .Theme}}<link rel="stylesheet" href="/theme.css">{{end}}
  {{if .CustomCSS}}<link rel="stylesheet" href="/custom.css">{{end}}
{{end}}
